################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/Lua/run/obj/
/Lua/.vs
*.pdb
*.ilk
*.exp
/Lua/run/Debug/MyLua.exp
*.obj
/Lua/obj/
*.ipch
/log4cplus-1.2.1-rc1/msvc10/.vs/log4cplus/v15/Solution.VC.db-wal
/log4cplus-1.2.1-rc1/msvc10/.vs/log4cplus/v15/Solution.VC.db-shm
/log4cplus-1.2.1-rc1/msvc10/.vs/log4cplus/v15/Solution.VC.db
/log4cplus-1.2.1-rc1/msvc10/.vs/log4cplus/v15/Browse.VC.opendb
/log4cplus-1.2.1-rc1/msvc10/.vs/log4cplus/v15/Browse.VC.db
*.tlog
