################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/Lua/run/obj/
/Lua/.vs
*.pdb
*.ilk
*.exp
*.obj
/Lua/obj/
*.ipch
/log4cplus-1.2.1-rc1/msvc10/.vs
*.tlog
/log4cplus-1.2.1-rc1/msvc10/Win32
/log4cplus-1.2.1-rc1/msvc10/tests/logs
/log4cplus-1.2.1-rc1/msvc10/tests/a
/Lua/test/log
/Lua/run/Win32/Debug/log
*.log
*.filters
*.idb
/_run/Win32/Debug/test2d.exe
/_run/Win32/Debug/MyTool.lib
/_run/Win32/Debug/MyTool.dll
/_run/Win32/Debug/MyLua.lib
/_run/Win32/Debug/MyLua.dll
/_run/Win32/Debug/Lua-5.3.4.lib
/_run/Win32/Debug/log4cplusD.lib
/_run/Win32/Debug/log4cplusD.dll
/xerces-c-3.1.4/doc
/xerces-c-3.1.4/projects/Win32/VC15/xerces-all/.vs/xerces-all/v15
*.opendb
/xerces-c-3.1.4/m4
/xerces-c-3.1.4/config
/xerces-c-3.1.4/scripts
/_run/obj
/_run/Win32/Debug
/xerces-c-3.1.4/samples/data
