################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/gitproject/v15/Browse.VC.opendb
/.vs/gitproject/v15/Browse.VC.db
/.vs/gitproject/v15/.suo
/Lua/obj/Lua-5.3.4/Debug
/Lua/obj/Lua-5.3.4/Debug
/Lua/obj/Lua-5.3.4/Debug/lzio.obj
/Lua/obj/Lua-5.3.4/Debug/lvm.obj
/Lua/obj/Lua-5.3.4/Debug/lutf8lib.obj
/Lua/obj/Lua-5.3.4/Debug/lundump.obj
/Lua/obj/Lua-5.3.4/Debug/luac.obj
/Lua/obj/Lua-5.3.4/Debug/lua.obj
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/Lua-5.3.4.lastbuildstate
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/Lib.command.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/Lib-link.write.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/Lib-link.read.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/CL.write.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/CL.read.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.tlog/CL.command.1.tlog
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.pdb
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.log
/Lua/obj/Lua-5.3.4/Debug/Lua-5.3.4.idb
/Lua/obj/Lua-5.3.4/Debug/ltm.obj
/Lua/obj/Lua-5.3.4/Debug/ltablib.obj
/Lua/obj/Lua-5.3.4/Debug/ltable.obj
/Lua/obj/Lua-5.3.4/Debug/lstrlib.obj
/Lua/obj/Lua-5.3.4/Debug/lstring.obj
/Lua/obj/Lua-5.3.4/Debug/lstate.obj
/Lua/obj/Lua-5.3.4/Debug/lparser.obj
/Lua/obj/Lua-5.3.4/Debug/loslib.obj
/Lua/obj/Lua-5.3.4/Debug/lopcodes.obj
/Lua/obj/Lua-5.3.4/Debug/lobject.obj
/Lua/obj/Lua-5.3.4/Debug/loadlib.obj
/Lua/obj/Lua-5.3.4/Debug/lmem.obj
/Lua/obj/Lua-5.3.4/Debug/lmathlib.obj
/Lua/obj/Lua-5.3.4/Debug/llex.obj
/Lua/obj/Lua-5.3.4/Debug/liolib.obj
/Lua/obj/Lua-5.3.4/Debug/linit.obj
/Lua/obj/Lua-5.3.4/Debug/lgc.obj
/Lua/obj/Lua-5.3.4/Debug/lfunc.obj
/Lua/obj/Lua-5.3.4/Debug/ldump.obj
/Lua/obj/Lua-5.3.4/Debug/ldo.obj
/Lua/obj/Lua-5.3.4/Debug/ldebug.obj
/Lua/obj/Lua-5.3.4/Debug/ldblib.obj
/Lua/obj/Lua-5.3.4/Debug/lctype.obj
/Lua/obj/Lua-5.3.4/Debug/lcorolib.obj
/Lua/obj/Lua-5.3.4/Debug/lcode.obj
/Lua/obj/Lua-5.3.4/Debug/lbitlib.obj
/Lua/obj/Lua-5.3.4/Debug/lbaselib.obj
/Lua/obj/Lua-5.3.4/Debug/lauxlib.obj
/Lua/obj/Lua-5.3.4/Debug/lapi.obj
/Lua/.vs/Lua/v15/Browse.VC.opendb
/Lua/.vs/Lua/v15/Browse.VC.db
/Lua/.vs/Lua/v15/.suo
